<form action="/collections/create" method="POST">
  <div class="form-group">
    <label for="my-input">Name</label>
    <input id="my-input" class="form-control" type="text" name="">
  </div>
  <button type="submit">Add</button>
</form>
