<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB Explorer</title>

    <!-- Link to Boostrap 4-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Neuton&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />

    <!-- FontAwesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar">
      <a class="navbar-brand" href="#">DBExplorer <i class="fa fa-leaf"></i></a>
    </nav>

    <div class="container">
      <h1>
        Welcome to DBExplorer! go ahead and choose a database to look into!
      </h1>
      <!-- Database list section -->
      <div class="listDbs">
        <h2>Select a database:</h2>
        <select name="" id="databases" class="custom-select">
          <% if(databases.length > 0) { %> <% databases.forEach( (database) =>
          {%>
          <option class="db" value="<%= database.name %>" class="dbOpt"
            ><%= database.name %></option
          >
          <% }) %> <% } %>
        </select>
      </div>
      <!-- Database information section -->
      <div class="database-info">
        <div class="row" id="database-size"></div>
        <div class="row" id="database-empty"></div>
      </div>

      <!-- Collections lists section -->
      <div class="listCols">
        <h2>Available Collections:</h2>
        <select class="custom-select colsSelect"> </select>
      </div>

      <!-- Data lists section -->
      <div class="listData container">
        <h2>Available Documents:</h2>
      </div>

      <!-- Create a register section -->
      <div class="createRegister">
        <h2>Add a document to the collection:</h2>
        <form action="/create" method="POST" id="dataForm">
          <button type="submit">Add</button>
        </form>
      </div>

      <div id="floating-info" class="overflow-auto">
        <div class="row info-title">
          <div class="col-6">
            <h5 style="font-weight: normal;">
            About MongoDB
           </h5>
          </div>
          <div class="col-6 justify-content-end">
            <a href="#" id="goUp" onclick="goUp()"><i class="fa fa-chevron-up"></i></a>
          </div>
        </div>
        <div class="info-content">
          <div class="row">
            <div class="col-6">
              <iframe width="300px" height="180px" src="https://www.youtube.com/embed/H3P0lW94L2Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              <small>Credits: mongodb at https://www.youtube.com/embed/H3P0lW94L2Q </small>
            </div>
            <div class="col-6 text-mg">         
               <p>MongoDB offers a huge variety of functions and option 
              to make over database collections. You can have a db hosted on the cloud and you can 
              integrate it to any web application you want
              </p>              
          </div>
        </div>
            <div class="row listM">
              <p>You can make all CRUD operations over many methods for a collections such as:</p>
              <ul>
                <li>insert()</li>
                <li>find()</li>
                <li>updateOne()</li>
                <li>delete()</li>
                <li>insertOneById()</li>
              </ul>
            </div>
            <div class="row more-info">
              <a href="http://mongodb.github.io/node-mongodb-native/" id="doc">View the documentation</a>
            </div>
            <div class="row img">
              <p>Here is an arquitecture example with mongoDB and nodejs</p>
              <img src="/images/mongo.png" alt="">
            </div>
        </div>
      </div>
    </div>

    <!-- SCRIPTS -->
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script>
      function goUp(){
        let mongoDiv = document.getElementById('floating-info');
        let currentHeight = mongoDiv.clientHeight;
        console.log("height", currentHeight);
        if(currentHeight == 300){
          mongoDiv.style.height = "40px";
        }
        else{
          mongoDiv.style.height = "300px";
        }
      }
  </script>
  </body>
</html>
