<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DB Explorer</title>

  <!-- Link to Boostrap 4-->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="container">
      <div id="databases">
      <label for="">Select a database:</label>
        <select name="" id="">
          <% databases.forEach( (database) => { %>
          <option value=""><%= database.name %></option>
          <% }) %>
        </select>
     </div>

     <div>
       <div class="row"></div>
     </div>
    </div>

    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
